<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Jzingari - Testando DevOps.</div>
	
	<div class="container">
		<div class="logo">
      <img src="https://media.licdn.com/dms/image/C5603AQFJlRpUPjQELA/profile-displayphoto-shrink_200_200/0?e=1540425600&v=beta&t=J3GRGr2Aqetr9JshQMRKjQ0JmLXResQXknkgopAJQv4">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Currículo criado com: Codeanyware - travis-ci - github - heroku </p>
			
			<div class="devops-path path">
				<h1>Cv</h1>
				<a href="https://media.licdn.com/dms/image/C5603AQFJlRpUPjQELA/profile-displayphoto-shrink_200_200/0?e=1540425600&v=beta&t=J3GRGr2Aqetr9JshQMRKjQ0JmLXResQXknkgopAJQv4">
					
				</a>
			</div>
			
      <h1>Informações:</h1>
				<h2>Brasileiro, 32 anos, casado, sem filhos</h2>
      
			<div class="ex-path path">
				<h1>Formação:</h1>
					<h2>⦁	Gestão de redes e Internet - 12/2010 - 	Uninove - Universidade Nove de Julho </h2>
        <div class="Cursos">
        <h1>Cursos Complementares:</h1>
					<h4>⦁	DevOps Essentials 4523 - 4linux 
              ⦁	Infraestrutura ágil com práticas DEVOPS usando Docker, Git, Jenkins, Puppet e Ansible <br/>
              ⦁	Redhat System Administration I e II - RedHat institute <br/>
              ⦁	Linux LPI 101 e 102 - 4linux <br/>
              ⦁	Windows Server 2012 MCSA - Brasell <br/>
              ⦁	PMI – Planejamento e Gerência de Projeto - IMPACTA <br/>
              ⦁	PMO- Escritório de projetos -  IMPACTA <br/>
              ⦁	ITIL V3 Foundation - Ka Solutions </h4> <br/>
         <div class="Idiomas">
        <h1>Idiomas:</h1>
           <h2>⦁	Inglês: Leitura, escrita e conversação intermediária. </h2> <br/>
           <h3>⦁	Espanhol: Leitura, escrita e conversação intermediária.</h3> <br/>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/ferramentas-de-automacao-devops-com-ansible-chef-e-puppet" class="ex-course course">
					<h2>4511 - Ferramentas de automação DevOps com Ansible, Chef e Puppet</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/openstack" class="ex-course course">
					<h2>472 - Infraestrutura de nuvens com OpenStack</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/controle-de-versoes-com-git" class="ex-course course">
					<h2>4530 - Controle de versões com Git</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
